<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>umeng_share_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65F2F8E41FC599C1000C0CAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65F2F8FD1FC599C2000C0CAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65F2F9081FC599C2000C0CAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
